**.orig
**.swp
**.war
*.bowerrc
*.rbc
*.sassc
.coveralls.yml
.DS_Store
.env
.idea
.powenv
.redcar/
.rvmrc
.sass-cache
/*.tmproj
/.bundle
/.vagrant
/cache
/capybara*
/capybara-*.html
/coverage.data
/coverage/
/db/*.javadb/
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/gems
/log
/log/*
/nbproject/
/public/assets
/public/cache
/public/stylesheets/compiled
/public/system
/public/system/*
/spec/tmp
/spec/tmp/*
/specifications
/tmp
/tmp/*
/vendor/assets/bower_components
/vendor/bundle
/vendor/bundle/
/vendor/ruby/
bower.json
capybara-*.html
db/*.sqlite3

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history
